<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"> {{activityTitle}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeActivityModal()">Stäng</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <div>
          Antal: {{activityAmount}}
        </div>
        <div>
          Mitt mål: {{activityGoal}} per {{activityTimeUnit}}
        </div>
      </div>
    </div>

    <button class="button button-block icon-left ion-plus-circled button-positive" ng-click="registerAction(activity)">Done it!</button>

    <!-- <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form> -->
  </ion-content>
</ion-modal-view>